*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: #1e7afd;
	* {
		transition: all 0.3s ease;
	}
	&:hover {
		color: lighten(#1e7afd, 8);
	}
	&:active {
		color: darken(#1e7afd, 8);
	}
}
a,
button {
	cursor: pointer;
	border: none;
}
html {
	// overflow: hidden;
}
body {
	font-family: $font-family-primary;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $color-primary-black;
	color: $color-primary-white;
}

.container {
	max-width: $mediaWidthLaptop;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	@include media-tablet-horizontal {
		max-width: 100%;
		padding: 0 16px;
	}
}

.main-content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	footer {
		margin-top: auto;
	}
}
