.main-login {
	background-color: url('../img/background_grid.png') center center / cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&__header {
		padding: 16px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 217px;
		}
	}
	&__wrapper {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 63px 0 140px;
	}
	.form-block {
		max-width: 640px;
	}
}
