.agreement {
	background: url('../img/background.png') center center / cover repeat;
	position: relative;
	padding: 180px 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 16px;
		h2 {
			max-width: 588px;
			margin: 0;
			font-size: 52px;
			font-weight: $font-weight-medium;
			letter-spacing: $heading-letter-spacing;
			line-height: $heading-line-height;
			span {
				color: $color-accent-blue;
			}
		}
		p {
			max-width: 620px;
			margin: 0;
			color: $gray-50;
			font-size: 20px;
			font-weight: $font-weight-light;
			letter-spacing: $l-letter-spacing;
			line-height: $l-line-height;
		}
	}

	&__wrapper {
		margin-top: 64px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		gap: 16px;
	}

	&__links {
		flex: 0 0 33.333%;
		background: linear-gradient(180deg, rgba(10.62, 19.67, 50.54, 0.9) 0%, rgba(11, 20, 51, 0) 100%);
		border-radius: 24px;
		overflow: hidden;
		border: 1px rgba(254, 254, 255, 0.04) solid;
		backdrop-filter: blur(12px);
		padding: 24px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
	}

	&__icon {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 14px;
		border: 1px solid $gray-4;
		border-radius: 12px;
	}

	&__text {
		color: $color-primary-white;
		font-size: 20px;
		font-weight: $font-weight-regular;
		letter-spacing: $r-letter-spacing;
		line-height: $r-line-height;
	}
}

@include media-tablet-horizontal {
	.agreement {
		padding: 120px 0;
		&__header {
			flex-direction: column;
			gap: 24px;
			h2 {
				max-width: 100%;
				font-size: 42px;
				br {
					display: none;
				}
			}
			p {
				max-width: 100%;
			}
		}

		&__wrapper {
			margin-top: 48px;
		}

		&__links {
			flex: 1 1 auto;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}

		&__icon {
		}

		&__text {
		}
	}
}

@include media-mobile-horizontal {
	.agreement {
		padding: 84px 0;
		&__header {
			gap: 24px;
			h2 {
				font-size: 28px;
			}
			p {
				font-size: 16px;
			}
		}

		&__wrapper {
			margin-top: 32px;
			flex-direction: column;
		}

		&__links {
			flex: 1 1 auto;
			flex-direction: row;
			align-items: center;
			padding: 16px;
		}

		&__icon {
			padding: 12px;
		}

		&__text {
			font-size: 16px;
		}
	}
}
