@import 'ui-kit/media';
@import 'ui-kit/colors';

@import 'mixins/media';

@import 'ui-kit/fonts';

@import 'common/global';

@import 'common/controls';

@import 'common/header';

@import 'common/popup';

@import 'common/footer';

@import 'chunk/start-page';

@import 'page/main/01-main-hero';

@import 'page/catalog/catalog';
